<!DOCTYPE html>
<html>

<head>
<title>
Beginnings
</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<style>

body {
background-color: beige;

}

h1 {
color: black;
}

h3 {
color: orange;
}

p {
color: black;
}

a:link {
    color: #FF0000;
}

a:hover {
color: purple;
}

a:visited {
color: green;
}



</style>
</head>


<body>


<div class="container">

<h1>Reminiscences </h1>

<p>Here  are a list of things I had to do to enter my  bootcamp when I was first starting out. </p>
<p> I had about a week and a half to go through the pre-work. </p>

</br>
</br>

<div>
<h3>PingPong Test</h3>
</br>

 <a href="http://creationrose.com/pingpong.html">PingPong</a>


</div>

</br>
</br>

<div>

<h3> Two-column Layout Test </h3>
</br>

<a href="http://creationrose.com/aerial.html">My favorite workout : Aerial Silk</a>

</div>


</br>
</br>

<div>

</br>
<p>For myself, a random page of my favorite stuff:</p>


</br>
<a href="http://creationrose.com/favorites.html">Favorites</a>

</div>
</br>


<div>
<p>This stuff seemed hard when I was first starting out! It is definitely not as scary anymore, and I find myself able to pick up new technology quicker. <p>

</div>

</div>

</body>

</html>