<div class="jumbotron">
	<h1>Dev Blogger</h1>
</div>

<div class="container">
	<% if @posts.any? %>
	<% @posts.each do |post| %>
	<div class="well">
		<%= link_to post.title, post %>
	    <p>Published <%= time_ago_in_words(post.created_at) %> ago</p>
	</div>
	<% end %>
	<%= link_to "Add another post", new_post_path %>
	<% else %>
	<p> There are no posts yet. <%= link_to "Add a new post", new_post_path %> </p>
	<% end %>
</div>
