<<<<<<< HEAD
<div class="container"><h1>New Post</h1>
=======
<h1>New Post</h1>
>>>>>>> 251ce9a

<%= render 'form' %>

<br />

<p> Return to <%= link_to "Main page", root_path %></p>
<<<<<<< HEAD
</div>
=======
>>>>>>> 251ce9a
